.timeline {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 400px;
}

.header {
    text-align: center;
}
.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.title {
    font-weight: bold;
    
}

.contentTitle {
    font-style: oblique;
}

.contentText {
    font-weight: 100;
}

.work__containter {

}

.logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.timeline__component {
    padding: 3rem;
}

.MuiTimelineItem-root {
    padding: 1px;
    display: inline;

}

.MuiTimelineConnector-root {
    height: 4rem;
}

.list-item {
    margin-bottom: 10px;
}
.extra-content {
    text-align: left;
    justify-content: space-between;

}

.plusbutton {
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: inline-flex;
    width: 25px;
    font-size: 100%;
    border-radius: 40px;
    border: 1px solid black;
    color: #fafafa;

    padding: 0.25em 1em;
    background-color: rgb(49, 49, 49);
    height: 25px;
}
.plusbutton:hover {
    background-color:  hsl(210,11%,15%, 0.3);

}

/* .timeline__component:hover {
    background-color:  hsl(210,11%,15%, 0.3);
} */

/* .css-bx4z5e-MuiTypography-root-MuiTimelineContent-root:hover {
    background-color:  hsl(210,11%,15%, 0.3);
}

.css-18y2uza-MuiTypography-root-MuiTimelineContent-root:hover {
    background-color:  hsl(210,11%,15%, 0.3);
} */