.navigation__contationer {
    background-color: var(--nav-color);
    color: white;
    z-index: 2;
    position: fixed !important;
    top: 0;
    width: 100%;
}

.navigation__contationer .navbar .navbar-expand-md .navbar-light{
    position: fixed !important;
}
.navbar-light .navbar-nav .nav-link {
    color: var(--font-color) !important;
}

.navbar-light .navbar-brand {
    color: var(--font-color) !important;
}

.navbar-light .navbar-toggler-icon {
    filter: invert(1);
}

.links a:hover {
    background-color: var(--nav-color-hover);
}